@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  color: #ffffff;
}
body{
  background-color: #111111;
}

        /* /* #tasklist {
          /* Enable scrolling and swiping */
          /* touch-action: pan-x; /* Allow horizontal swiping */
          /* -webkit-overflow-scrolling: touch; Smooth scrolling on iOS */
          /* scrollbar-width: none; Hide scrollbar in Firefox */
        /* } */ 
        /* #tasklist::-webkit-scrollbar{
          display: none;
          
        } */ 